:root {
  --cor-dourado: #d4af37;
  --cor-preto: #000;
  --cor-fundo: #111;
  --cor-texto: #f8f8f8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
  min-height: 100vh;
}

/* Topo */
.topo {
  text-align: center;
  padding: 40px 20px 20px;
  border-bottom: 2px solid var(--cor-dourado);
  
}

.logo {
  width: 155px;
  height: auto;
  margin-bottom: 10px;
  border-radius: 50%;
}

.topo h1 {
  font-size: 1.8rem;
  color: var(--cor-dourado);
  letter-spacing: 1px;
}

/* Seção do cardápio */
.cardapio {
  padding: 40px 20px;
  max-width: 900px;
  margin: auto;
}

.menu h2 {
  color: var(--cor-dourado);
  font-size: 1.6rem;
  margin: 40px 0 15px;
  border-bottom: 2px solid var(--cor-dourado);
  display: inline-block;
  padding-bottom: 4px;
}

.item {
  background: #1a1a1a;
  border: 1px solid var(--cor-dourado);
  border-radius: 12px;
  padding: 15px 20px;
  margin-bottom: 15px;
  transition: all 0.3s ease;
}

.item:hover {
  background: #2a2a2a;
  transform: scale(1.02);
  box-shadow: 0 0 10px rgba(212, 175, 55, 0.4);
}

.item h3 {
  font-size: 1.2rem;
  color: var(--cor-dourado);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item p {
  font-size: 0.95rem;
  margin-top: 6px;
  color: #ccc;
}

/* Rodapé */

footer {
    background-color: var(--cor-fundo);
    text-align: center;
    padding: 20px;
    color: #9D8258;;
}

footer a {
    cursor: pointer;
    color: #C8A770;
    text-decoration: none;
}

footer a:hover {
    color: rgb(184, 172, 10);
}

#cardapio1 {
    display: flex;
    justify-content: center;
    text-align: left;
    border: 2px solid #855810;
    padding: 10px;
    margin: 14px;border-radius: 12px; 
  }

#cardapio1 a {
    font-family: var(--fonte-principal);
    font-size: 30px;
    margin: 10px;
    color: #855810;
    text-decoration: none;
}

#cardapio1 a:hover {
    background-color: rgba(255, 255, 249, 0.37);
    color: #000000;
    border-radius: 10px;

    transform: translateY(-6px); /* move o botão suavemente para cima */
    box-shadow: 0 8px 20px rgba(87, 106, 126, 0.5); /* aumenta a sombra */
    background: #C8A770; /* muda o tom de azul */
 }

/* Responsivo */
@media (max-width: 600px) {
  .topo h1 {
    font-size: 1.4rem;
  }
  .item h3 {
    font-size: 1rem;
    flex-direction: column;
    align-items: flex-start;
  }
  .item span {
    margin-top: 4px;
    color: #fff;
  }
}